<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/JPG" href="{% static 'home/images/logo.JPG' %}">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/yourcode.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> {% block meta %} {% endblock meta %}
</head>

<body>
    <nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark" style="background-color:#62959A">
        <a href="#" class="navbar-brand">
            <!-- Logo Image -->
            <img src="{% static 'home/images/virus-logo.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold">COVID<span style="color:#F0AD4E">-19</span></span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" style="justify-content: center;" id="navbarNavDropdown">
            <ul class="navbar-nav" style="margin: auto;">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:index' %}">HOME</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:tips-trick' %}">TIPS & TRICKS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news:news' %}">NEWS</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'news:kasus' %}">MAP</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'discussion:index' %}">DISCUSSION</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home:index' %}#contact">CONTACT</a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'login:profelz' request.user.username %}">PROFILE</a>
                </li>
                {% endif %}
            </ul>
            <div class="navbar-nav">
                {% if not request.user.is_authenticated %}
                <a href="{% url 'login:logging_in' %}" class="nav-item nav-link button-login">LOGIN</a>
                <a href="{% url 'login:register' %}" class="nav-item nav-link button-signup">SIGN UP</a> {% else %}
                <a href="{% url 'login:logging_out' %}" class="nav-item nav-link button-signup">LOGOUT</a> {% endif %}
            </div>
        </div>
    </nav>

    {% block content %} {% endblock %}
    <!-- Footer -->
    <!-- <section id="footer">
        <div class="footer container">
            <p></p>
        </div>
    </section> -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #62959A;">Copyright © 2020 tk-ppw-06. All rights reserved</div>
    <!-- Copyright -->
    <!-- End Footer -->

</body>

</html>