{% extends 'home/base.html' %}
{% load static %}

{% block meta %}
<title>{{profile.user.username}}'s login</title>
{% endblock meta %}
{% block content %}
<section class="main-section d-flex justify-content-center align-items-center text-light" style="height: 100vh;">
    <div class="login-form bg-dark rounded-lg d-flex flex-column align-items-center justify-content-center p-4 m-2">
        <img class="profile-img" src="{{profile.profile_picture_url}}">
        <!--<p>Username {{profile.user.username}}</p>-->
        <h3 class="mt-3 text-light">Username : {{profile.full_name}}</h3>
        <p class="text-center text-light">Status : {{profile.description}}</p>
    </div>
</section>
{% endblock %}