/* .row{
    border-color: red;
    border-width: 5px;
    border-style: solid;
}

.my-col{
    border-color: blue;
    border-width: 5px;
    border-style: solid;
} */

.button-login {
    transition: all 1s;
    margin: 5px;
    border-radius: 30px;
    border: 2px solid white;
    padding: 5px 30px !important;
    width: fit-content;
    color: white
}

.button-login:hover {
    background-color: #a8d2d6;
    text-decoration: none;
}

.button-signup {
    margin: 5px;
    border-radius: 30px;
    border: 2px;
    padding: 5px 30px !important;
    width: fit-content;
    color: white !important;
    background-color: #007D91;
    transition: all 1s;
}

.button-signup:hover {
    background-color: #a8d2d6;
    text-decoration: none;
}

.form-donasi{
    margin: 5%;
    padding: 5%;
    /* border-color: yellow;
    border-width: 5px;
    border-style: solid; */
}

.form-kartu{
    padding: 50px;
    padding-top: 115px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.judul{
    background: #00576B;
    padding-top: 50px;
    padding-bottom: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.judul h3{
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card{
    background: #DAE8EA;
    border-radius: 20px;
}

.card-body{
    margin-top: 25px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.card-body p{
    font-size: x-large;
}

.form-kartu h3{
    margin-bottom: 50px;
}

.row-atas{
    background-color: #EFF4F4;
    /* background-color: red; */
    padding-top: 50px;
    /* padding-bottom: 50px; */
}

.row-bawah{
    padding-bottom: 50px;
}

.btn-donasi{
    /* position: absolute; */
    width: 220px;
    height: 44px;
    background: #F0AD4E;
    border-radius: 30px;
    transition: 0.1s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    font-weight: bold;
}

.btn.btn-donasi:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.button-donasi{
    padding-top: 75px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.riwayat-donasi{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.donatur{
    /* border-style: solid;
    border-width: 3px; */
    background-color: #DAE8EA;
    height: 550px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    overflow: auto;
}

table{
    height: 50px;
    /* justify-content: center;
    align-items: center;
    text-align: center; */
}

/* table, th, td {
    border: 1px solid rgb(158, 0, 158);
} */

.nama{
    /* padding-left: 100px; */
}

.data-donatur{
    padding-top: 20px;
    padding-left: 50px;
}

/* .bawah-kanan{
    border-style: solid;
    border-width: 5px;
    border-color: red;
} */

.col-bawah{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bk-1{
    background-image: url('/static/gambar.png');
    background-repeat: no-repeat;
    /* width: 100%; */
    height: 60%;
}

.bk-2{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.lindungi{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    align-items: center;

    color: #000000;
}

.lawan{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 50px;
    align-items: center;

    color:#007D91;
}

.btn-donasi2{
    /* position: absolute; */
    width: 220px;
    height: 44px;
    background: #F0AD4E;
    border-radius: 30px;
    transition: 0.1s;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    font-weight: bold;
}

.btn.btn-donasi2:hover {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

.button-donasi2{
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 30px;
}