<!DOCTYPE html>
<html>
    {% load static %} 
    <head>
        <meta charset="utf-8">
        <link rel="shortcut icon" type="image/JPG" href="{% static 'home/images/logo.JPG' %}">
        <title>News Updates</title>
        <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
        <link href="{% static 'style1.css' %}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/yourcode.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <script>
            const data_news_url = "{% url 'news:search' %}?q=";
        </script>

    </head>
    
    
    <body>
        <nav class="navbar fixed-top navbar navbar-expand-lg navbar-dark" style="background-color:#62959A">
            <a href="#" class="navbar-brand">
                <!-- Logo Image -->
                <img src="{% static 'home/images/virus-logo.png' %}" width="45" alt="" class="d-inline-block align-middle mr-2">
                <!-- Logo Text -->
                <span class="text-uppercase font-weight-bold">COVID<span style="color:#F0AD4E">-19</span></span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" style="justify-content: center;" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin: auto;">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home:index' %}">HOME <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:tips-trick' %}">TIPS & TRICKS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:news' %}">NEWS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'news:kasus' %}">MAP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'discussion:index' %}">DISCUSSION</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home:index' %}#contact">CONTACT</a>
                    </li>
                </ul>
                <div class="navbar-nav">
                    {% if not request.user.is_authenticated %}
                        <a href="{% url 'login:logging_in' %}" class="nav-item nav-link button-login">LOGIN</a>
                        <a href="{% url 'login:register' %}" class="nav-item nav-link button-signup">SIGN UP</a>
                    {% else %}
                        <a href="{% url 'login:logging_out' %}" class="nav-item nav-link button-signup">LOGOUT</a>
                    {% endif %}
                </div>
            </div>
        </nav>





        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 style="text-align: center; margin-top: 100px;">Distribution Map of COVID-19 cases in <p>JABODETABEK</p></h1>
                    <img src="{% static 'petaSebaran.png' %}" class="img-fluid rounded" alt="Responsive image">
                    <a href="{% url 'news:kasus' %}"><button class="btn btn-atas"> <b>DETAILS </b></button>
                </a>
            
                    <hr class="hr-rounded">
                </div>
                <div class="col-12">
                    <h2 style="text-align: center;">Recent updates regarding <p>COVID-19</p></h2>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-8">
                            <div id="kotak-atas"  style="color: white;padding-top: 5px; background-color: #62959A;text-align: center;">
                                <h2 style="margin-top: 30px; margin-bottom: 30px; margin-left: 30px;">Find The Latest News About Covid-19 
                                    <P style="margin-top: 20px;">And Other Health Topic in Indonesia</P></h2>
                                <div class="row justify-content-center">
                                    <div class="col-8">
                                        <input type="text" id="input" class="form-control" placeholder="Search The News " style="margin-bottom: 50px;margin-left: 30px;">
                                        <button type="submit" class="btn btn-search" id="submit">search</button>
                                    </div>
                                </div>
                            </div>
                            
                            <div id="card" style="background-color: white;height: 600px;overflow: auto;text-align: center;"></div>
                            
                        </div>
                    </div>
                </div>

                {% if not request.user.is_authenticated %}
                <div id="judulKomentar" class="col-5" style="margin-top: 40px; margin-left: 15px;">
                    <a class="effect effect-5" href="{% url 'login:logging_in' %}"><h4 style="color: white;">Login to write a comment</h4></a>
                </div>
                <div class="w-100"></div>
                {% else %}
                <div id="judulKomentar" class="col-5" style="margin-top: 40px; margin-left: 15px;">
                    <h4>Write you comments on the COVID-19 news above</h4>
                </div>
                <div class="w-100"></div>
                <div class="col-12">
                    <form action='' method="POST" style="margin-top: 20px;">
                        {% csrf_token %}
                        {{ form.komentar }}
                        <br>
                        <div style="margin-top: 20px;">
                            <input type="submit" id="button2" class="btn btn-primary"  value="Submit">
                        </div>
                    </form>
                </div>
                {% endif %}
                <div class="col-12" style="margin-top: 40px; margin-bottom: 50px;">
                    <h3><b>Comments</b></h3>
                    <ul class="list-group">
                        {% for isi in inpMasuk %}
                        <li class="list-group-item">{{isi.komentar}}</li>
                        <div></div>
                        {% endfor %}
                    </ul>
                </div>

                
            </div>
        </div>
        

        <div class="footer-copyright text-center py-3" style="background-color: #62959A;">Copyright © 2020 tk-ppw-06. All rights reserved</div>

        <script src=" {% static 'func.js' %}"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js " integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN " crossorigin="anonymous "></script> -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js " integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q " crossorigin="anonymous "></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js " integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl " crossorigin="anonymous "></script>
        
    </body>
    
</html>
